<!DOCTYPE html>
<html lang="en" id="home">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RestorantAppsz </title>
        <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    </head>

    <body>
        <a href="#maincontent" class="skip-link">Menuju ke content</a>
        <nav class="nav nav-container">
            <span class="nav-brand" data-placeholder="Logo Restoran"><span>Restaurant</span> Apps</span>
            <a href="#" style="text-decoration: none;" id="nav-drawwer">☰</a>

            <ul id="nav-drawwer_mobile" class="nav-menu">
                <li class="nav-item"><a href="index.html">Home</a></li>
                <li class="nav-item"><a href="#">Favorite</a></li>
                <li class="nav-item"><a href="https://github.com/IJlnflhbrzDev/">About Us</a></li>
            </ul>

        </nav>

        <header class="header">
            <img src="./images/heros/hero-image_2.jpg" class="header-img" alt="image-makanan restoran">
            <div class="header-heading">
                <h1>Sisipkan <span>waktumu</span> untuk makan di restaurant kami</h1>
                <p> Pemesan pertama akan mendapatkan kejutan yang seru.</p>
            </div>
        </header>

        <main id="maincontent">
            <h2>Explore <span>Restaurant Apps</span></h2>

            <section class="conten">
            </section>
        </main>

        <footer>
            Copyright &copy; 2021 - Restaurant Apps
        </footer>
    </body>

</html>
