@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
span {
  color: #ffab2c;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
}

.skip-link:focus {
  top: 0;
  background-color: #ffab2c;
  color: #19182c;
  padding: 8px;
  z-index: 100;
}

@media screen and (max-width: 510px) {
  /*

    main Content

  */
  main section.conten {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media screen and (max-width: 685px) {
  /*
    Navbar top
  */
  nav.nav-container {
    padding: 10px 15px;
    position: relative;
  }
  nav.nav-container .nav-brand {
    font-size: 25px !important;
  }
  nav.nav-container .nav-menu {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    position: absolute;
    background-color: inherit;
    left: 0;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
  }
  nav.nav-container #nav-drawwer {
    display: block;
    font-size: 33px;
    width: 44px;
    color: #fff;
    cursor: pointer;
  }
  nav.nav-container .show-menu-mobile {
    display: inline-block;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    line-height: 40px;
    top: 56px;
    width: 80%;
    height: inherit;
    z-index: 2;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  nav.nav-container .show-menu-mobile li:hover {
    background-color: #fff;
  }
  nav.nav-container .show-menu-mobile li:hover a {
    color: #19182c;
  }
  nav.nav-container .show-menu-mobile li a {
    font-size: 17px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 0.5em;
  }
  /*
    main Content

  */
  main {
    padding: 19px !important;
  }
  main .conten {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 876px) {
  /*
    main Content

  */
  main .conten {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  border: 7px dotted gold !important;
}

html,
body {
  background-color: #19182c;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

/*
     Navbar Restaurant
*/
.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #262633;
  padding: 20px 15px;
}

.nav-brand {
  font-family: "Satisfy", cursive;
  letter-spacing: 2px;
  color: #fff;
  font-size: 30px;
}

.nav-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav-menu li {
  list-style-type: none;
}

.nav-menu li a {
  display: block;
  min-width: 44px;
  min-height: 44px;
  line-height: 44px;
  padding: 0 1em;
  font-size: larger;
  text-decoration: none;
  color: #fff;
}

.nav-menu li a:hover {
  text-decoration: underline;
}

.nav #nav-drawwer {
  display: none;
}

/*
   styles Header
*/
.header {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  -o-object-fit: cover;
     object-fit: cover;
}

.header-heading {
  position: absolute;
  text-align: center;
  color: white;
}

.header-heading h1 {
  font-size: 36px;
  font-weight: 500;
}

.header-heading p {
  width: 90%;
  margin: 13px auto 0 auto;
  font-size: 18px;
  color: #e5e2e2;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 50px;
}

main h2 {
  color: #fff;
  margin-bottom: 30px;
}

main section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

main section article {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

main section article .card {
  background-color: #19182c;
  border: 1px solid white;
  color: #797983;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 0.25rem;
  max-width: 500px;
  max-height: 400px;
  overflow: hidden;
}

main section article .card:focus {
  border: 7px dotted gold !important;
}

main section article .card-img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

main section article .card-img:focus {
  border: 7px dotted gold !important;
}

main section article .card-lokasi {
  position: absolute;
  padding: 8px 10px;
  background-color: #19182c;
  color: #fff;
  letter-spacing: 1px;
  top: 20px;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-top-right-radius: 0.25rem;
}

main section article .card-lokasi h3 {
  font-size: 14px;
}

main section article .card-body {
  padding: 0.7rem;
}

main section article .card-body h4 {
  margin-bottom: 6px;
  font-size: 15px;
  color: #ffab2c;
  font-weight: 300;
  letter-spacing: 1px;
  font-style: italic;
}

main section article .card-body h5 a {
  display: inline-block;
  line-height: 44px;
  font-size: 17px;
  margin-bottom: 7px;
  color: #fff;
  text-decoration: none;
}

main section article .card-body p {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  max-height: 112px;
}

/*

  Footer

*/
footer {
  border-top: 1px solid white;
  color: #ffab2c;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */